flows_LAB4.json
[{"id":"FFF0000000000001","type":"tab","label":"FlowFuse Device Flow","disabled":false,"info":""},{"id":"1176a1fb94ab5d50","type":"mqtt in","z":"FFF0000000000001","name":"","topic":"devices/MUIoT-NAPIoT123","qos":"2","datatype":"auto-detect","broker":"508e93ae45b53ee9","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":240,"wires":[["c8d3e3566e52606c"]]},{"id":"5613705937bf6684","type":"debug","z":"FFF0000000000001","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":200,"wires":[]},{"id":"c8d3e3566e52606c","type":"function","z":"FFF0000000000001","name":"function 1","func":"// Find sensor values ​​by type\nconst tempSensor = msg.payload.event_data.payload.find(sensor => sensor.type === \"temp\");\nconst humSensor = msg.payload.event_data.payload.find(sensor => sensor.type === \"rel_hum\");\n\n// Create separate messages for each output\nconst tempMessage = { payload: tempSensor.value, unit: tempSensor.unit, timestamp: tempSensor.timestamp };\nconst humMessage = { payload: humSensor.value, unit: humSensor.unit, timestamp: humSensor.timestamp };\n\n// Send the temperature message to output 1 and the humidity message to output 2\nreturn [tempMessage, humMessage];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":240,"wires":[["5613705937bf6684","d66f9712cd371647","a2071b3ca3f289e6"],["dd2b1ce5857d9a08","52dc97290c4c72ec","ff5821d321e117ad"]]},{"id":"dd2b1ce5857d9a08","type":"debug","z":"FFF0000000000001","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":260,"wires":[]},{"id":"d66f9712cd371647","type":"ui-gauge","z":"FFF0000000000001","name":"temperatura","group":"22608859cfcb4194","order":2,"width":3,"height":3,"gtype":"gauge-half","gstyle":"needle","title":"gauge","units":"units","icon":"","prefix":"","suffix":"","segments":[{"from":"-10","color":"#5cd65c"},{"from":"20","color":"#ffc800"},{"from":"50","color":"#ea5353"}],"min":"-10","max":"50","sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":590,"y":160,"wires":[]},{"id":"52dc97290c4c72ec","type":"ui-gauge","z":"FFF0000000000001","name":"humidity","group":"22608859cfcb4194","order":1,"width":3,"height":3,"gtype":"gauge-half","gstyle":"needle","title":"gauge","units":"units","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#5cd65c"},{"from":"50","color":"#ffc800"},{"from":"80","color":"#ea5353"}],"min":0,"max":"100","sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":580,"y":300,"wires":[]},{"id":"a2071b3ca3f289e6","type":"switch","z":"FFF0000000000001","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"22","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":120,"wires":[["ea6578904f797df0"]]},{"id":"ea6578904f797df0","type":"ui-notification","z":"FFF0000000000001","ui":"22dc055abad82fc6","position":"top right","colorDefault":true,"color":"#000000","displayTime":"","showCountdown":false,"outputs":1,"allowDismiss":true,"dismissText":"Close","allowConfirm":true,"confirmText":"Confirm","raw":false,"className":"","name":"Hight Temperature","x":790,"y":120,"wires":[[]]},{"id":"3b099f210efcf218","type":"ui-notification","z":"FFF0000000000001","ui":"22dc055abad82fc6","position":"top right","colorDefault":true,"color":"#000000","displayTime":"","showCountdown":false,"outputs":1,"allowDismiss":false,"dismissText":"Close","allowConfirm":true,"confirmText":"Confirm","raw":false,"className":"","name":"Hight Himidity","x":800,"y":360,"wires":[[]]},{"id":"ff5821d321e117ad","type":"switch","z":"FFF0000000000001","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"60","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":360,"wires":[["3b099f210efcf218"]]},{"id":"508e93ae45b53ee9","type":"mqtt-broker","name":"Test Mosquitto","broker":"test.mosquitto.org","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"22608859cfcb4194","type":"ui-group","name":"Group 1","page":"f016177ad7d278e1","width":6,"height":1,"order":1,"showTitle":true,"className":"","visible":true,"disabled":false,"groupType":"default"},{"id":"22dc055abad82fc6","type":"ui-base","name":"My Dashboard","path":"/dashboard","appIcon":"","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"headerContent":"page","navigationStyle":"default","titleBarStyle":"default","showReconnectNotification":true,"notificationDisplayTime":1,"showDisconnectNotification":true},{"id":"f016177ad7d278e1","type":"ui-page","name":"Page 1","ui":"22dc055abad82fc6","path":"/page1","icon":"home","layout":"grid","theme":"c70ec897ea17161a","breakpoints":[{"name":"Default","px":0,"cols":3},{"name":"Tablet","px":576,"cols":6},{"name":"Small Desktop","px":768,"cols":9},{"name":"Desktop","px":1024,"cols":12}],"order":1,"className":"","visible":"true","disabled":"false"},{"id":"c70ec897ea17161a","type":"ui-theme","name":"Default Theme","colors":{"surface":"#ffffff","primary":"#0094CE","bgPage":"#eeeeee","groupBg":"#ffffff","groupOutline":"#cccccc"},"sizes":{"density":"default","pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}}]