lab4.json
[{"id":"FFF0000000000001","type":"tab","label":"Flow1","disabled":false,"info":""},{"id":"27c56d8653322af6","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"a1d741f2c2678cae","type":"ui-base","name":"My Dashboard","path":"/dashboard","appIcon":"","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"headerContent":"page","navigationStyle":"default","titleBarStyle":"default","showReconnectNotification":true,"notificationDisplayTime":1,"showDisconnectNotification":true},{"id":"1eac02b6e4b2d15d","type":"ui-theme","name":"Default Theme","colors":{"surface":"#ffffff","primary":"#0094ce","bgPage":"#eeeeee","groupBg":"#ffffff","groupOutline":"#cccccc"},"sizes":{"density":"default","pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}},{"id":"14277c69889e3f4e","type":"ui-page","name":"NautiSense","ui":"a1d741f2c2678cae","path":"/page2","icon":"home","layout":"grid","theme":"1eac02b6e4b2d15d","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":1,"className":"","visible":"true","disabled":"false"},{"id":"5437a254b796b8c8","type":"ui-group","name":"Nausisense","page":"14277c69889e3f4e","width":6,"height":1,"order":1,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"69f4c10de12edd41","type":"mqtt in","z":"FFF0000000000001","name":"","topic":"devices/MUIoT-NAPIoTpaulz","qos":"2","datatype":"auto-detect","broker":"27c56d8653322af6","nl":false,"rap":true,"rh":0,"inputs":0,"x":220,"y":140,"wires":[["e48e4641e23dabe9"]]},{"id":"b8a21b81e188ec15","type":"debug","z":"FFF0000000000001","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":120,"wires":[]},{"id":"e48e4641e23dabe9","type":"function","z":"FFF0000000000001","name":"function 1","func":"const distance = msg.payload.event_data.payload.find(sensor => sensor.type === \"Distance 1\")\n\nif (!distance) {\n    // If no distance sensor is found, return null to avoid errors\n    return null\n}\n\nconst distMessage = {\n    payload: distance.type,\n    unit: distance.unit,\n    timestamp: distance.timestamp\n}\n\n// Send the distance message to output 1\nreturn [distMessage]","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":140,"wires":[["c016b4dc273d1df3"]]},{"id":"d2d22b4c177af8a1","type":"ui-gauge","z":"FFF0000000000001","name":"Distance","group":"5437a254b796b8c8","order":3,"width":3,"height":3,"gtype":"gauge-half","gstyle":"needle","title":"gauge","units":"units","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#5cd65c"},{"from":"50","color":"#ffc800"},{"from":"100","color":"#ea5353"}],"min":0,"max":"100","sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":940,"y":80,"wires":[]},{"id":"c016b4dc273d1df3","type":"switch","z":"FFF0000000000001","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"60","vt":"num"},{"t":"gte","v":"60","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":140,"wires":[["d2d22b4c177af8a1","b2f97512375734a4","b8a21b81e188ec15"],["5487890805c72faa"]]},{"id":"b2f97512375734a4","type":"ui-audio","z":"FFF0000000000001","group":"5437a254b796b8c8","name":"alarm","order":2,"width":0,"height":0,"src":"https://www.youtube.com/watch?v=7S-eD93VCB4","autoplay":"on","loop":"on","muted":"off","x":930,"y":160,"wires":[[]]},{"id":"5487890805c72faa","type":"ui-text","z":"FFF0000000000001","group":"5437a254b796b8c8","order":1,"width":0,"height":0,"name":"","label":"Alarm Off","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","x":940,"y":220,"wires":[]}]