lab4.json
[
    {
        "id": "e2272171b3c9071f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1e8425ddd33f1b5b",
        "type": "function",
        "z": "e2272171b3c9071f",
        "name": "function 1",
        "func": "const distance = msg.payload.event_data.payload.find(sensor => sensor.name === \"Distance 1\")\n\nconst distMessage = {\n    payload: distance.value,\n    unit: distance.unit,\n    timestamp: distance.timestamp\n};\n// Send the distance message to output 1\nreturn [distMessage];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 140,
        "wires": [
            [
                "6b496f802f0e5879"
            ]
        ]
    },
    {
        "id": "6b496f802f0e5879",
        "type": "switch",
        "z": "e2272171b3c9071f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "60",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "60",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 670,
        "y": 140,
        "wires": [
            [
                "c111862acf7b1974",
                "770cc08970737266"
            ],
            [
                "ea847e7b4bab75f3"
            ]
        ]
    },
    {
        "id": "c111862acf7b1974",
        "type": "ui-audio",
        "z": "e2272171b3c9071f",
        "group": "469da6291410e73c",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "src": "https://www.youtube.com/watch?v=7S-eD93VCB4",
        "autoplay": "on",
        "loop": "on",
        "muted": "off",
        "x": 960,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "ea847e7b4bab75f3",
        "type": "ui-text",
        "z": "e2272171b3c9071f",
        "group": "469da6291410e73c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Alarm off",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 940,
        "y": 300,
        "wires": []
    },
    {
        "id": "0985c9704e4db74b",
        "type": "mqtt in",
        "z": "e2272171b3c9071f",
        "name": "",
        "topic": "devices/MUIoT-NAPIoTpaulz",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5ca9314e5262a82c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 140,
        "wires": [
            [
                "1e8425ddd33f1b5b"
            ]
        ]
    },
    {
        "id": "bb54dd0654e40417",
        "type": "openweathermap in",
        "z": "e2272171b3c9071f",
        "name": "Weather",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "A coruna",
        "country": "Spain",
        "language": "en",
        "x": 300,
        "y": 380,
        "wires": [
            [
                "aeb427a7e2ce70b0"
            ]
        ]
    },
    {
        "id": "aeb427a7e2ce70b0",
        "type": "debug",
        "z": "e2272171b3c9071f",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 380,
        "wires": []
    },
    {
        "id": "770cc08970737266",
        "type": "debug",
        "z": "e2272171b3c9071f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 140,
        "wires": []
    },
    {
        "id": "469da6291410e73c",
        "type": "ui-group",
        "name": "NautiSense",
        "page": "874380bd6f849e42",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "5ca9314e5262a82c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "874380bd6f849e42",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "20bf1598ef30d03f",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "0f97bfe2392d474e",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "20bf1598ef30d03f",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true
    },
    {
        "id": "0f97bfe2392d474e",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    }
]